<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <title>Editar Cadastro</title>
</head>

<body>

  <form method="POST" th:action="@{/editar/{id}(id=${cadastroPost.id})}">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" name="name" value="${cadastroPost.name}" placeholder="Digite seu Nome">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Endereço de Email</label>
      <input type="email" class="form-control" name="email" value="${cadastroPost.email}" placeholder="Digite seu Email"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" name="senha" value="${cadastroPost.senha}"
        placeholder="Digite sua Senha">
    </div>
    <div class="mb-3">
      <label for="numero" class="form-label">Numero</label>
      <input type="text" class="form-control" name="numero" value="${cadastroPost.numero}"
        placeholder="Digite seu Numero">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="../lista" class="btn btn-secondary">Cancelar</a>
  </form>


</body>

</html>